@charset "utf-8";

/*공통*/
* {
	margin:0; padding:0; box-sizing:border-box;	
}
::-webkit-scrollbar {width:0;}
html {scroll-behavior:smooth;}
html, body {
	font:12pt/160% 'Noto Sans KR' , sans-serif;
	color: #666;
  line-height: 180%;
}
/* body {overflow-x:hidden;} */
img {
	display:block; max-width:100%;
}
a {text-decoration:none; color:black;}

/*상단 내비게이션*/
#navbar {
  /*height: 70px;*/
  position: sticky; width:100vw;
  background:rgba(255,255,255,0.9);
  top:0; left:0;
  z-index: 1; 

}
nav {
  
  display:flex; align-items:center;
  margin:auto;
  max-width:1180px;
}
.mainMenu:hover, .mainMenu.active {
  color:#027128; font-weight: 700;
}

#left {
  flex:1;
  display:flex; justify-content:space-between;
}
#logo {
	flex:0.8;
}
#right {
	flex:1;
	display:flex; align-items:center; 
	justify-content:space-between;	
}


#left a {
}
#logo img {
	margin:5px auto 7px;
}
#right>* {	
	
}
#right form {	
	position:relative;
}
#right input {
	background:none; border:none;
	font-size:1.1rem; 
	padding:4px 0; max-width:150px;
	border-bottom:1.5pt solid #777;
}
#right input::placeholder {
	font-size:1.05rem; 
}
#right button.material-icons {
	border:none; background:none;
	position:absolute; right:0; bottom:0px;
	font-size:2rem; color:#666;
}
li {
  list-style: none;
}
/* 공용 viewmore 버튼 */
.viewbtn 	{
  display:block; width:120px; padding:10px 0;
  text-align:center; border:2px solid white; color:white;
  margin:auto; /* transition:0.5s; */
}
.viewbtn:hover { border:2px solid #027128; background:white; color:#027128;}

/*헤더(배경이미지)*/
#layout {
  width:100%;
	height:100vh;
	background:url("../images/login/bg.jpg") no-repeat fixed center top;
  border:1px solid rgba(255,255,255,0);  
}
#white {
  background: rgba(255,255,255,0.5);
  max-width:720px; height: 680px;
  margin:auto;
  margin-top:8vh;
  /* border:2px solid blue; */
}
#video { 
  margin:auto;
  text-align: center;
  padding-top:50px;
}
video {
  width: 550px;
  margin-bottom: 30px;
}

#log {
  margin:auto;
  text-align: center;
}
#log h1 {
  color:#027128;
  font-size:1.8rem;
  font-weight: 900;
  padding:20px;

}
input {
  padding:10px;
  width:300px;
  background: rgba(255,255,255,0.8);
  border:none;  
}
.btnon {
  border:none;
  background: black;
  border:1px solid #03A53A;
  width:300px;
  padding:10px;
  color:white;
  font-size:16px;
  font-weight: 700;
  margin-top:20px;
}
.off-button {
  cursor:not-allowed;
  background: #03A53A;
  margin-bottom:10px;
}
#sign a {
  color:#222;
  font-size:0.9rem;
  padding:20px;
}
#sns {
  display:flex;
  justify-content: center;
}
#sns img { max-width:30px;}
#sns div {
  padding:30px;
  margin-top:20px;
}
.ui-loader h1 {display: none;}